body {
  background-color: #93b5e2;
}

main {
  margin: 30px auto;
  background-color: aliceblue;
  width: 30%;
  border-radius: 40px;
  padding: 40px;
}

ul {
  padding: 10px;
  list-style: none;
  text-align: center;
}

li {
  padding-right: 20px;
}

.cabecalho {
  text-align: center;
  margin: 30px;
}

h3 {
  font-size: 1.5rem;
  color: #2c2a2a;
  text-align: center;
}

h3:hover {
  color: #37378d;
  cursor: pointer;
}

footer {
  background-color: #11325e;
  padding: 30px;
}

.redesSocais_lista {
  text-align: center;
}
.redesSociais_lista_item {
  display: inline-block;
  margin: 0 5px;
}

.redesSociais_lista_item img {
  width: 100%;
  max-width: 30px;
}
